body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 40px;
}

h1 {
    text-align: center;
}

form {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  border-radius: 6px;
}

label {
  font-weight: bold;
}

textarea,
select,
input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 8px;
}

button {
  background-color: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1e40af;
}
